* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: cornsilk;
  color: #333;
}

a {
  text-decoration: none;
}

.button {
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  background: steelblue;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header {
  overflow: hidden;
  height: 65px;
}

.header a {
  color: inherit;
}

.header a:hover {
  font-weight: bold;
}

.header-logo {
  float: left;
}

.header-nav {
  float: right;
}

.header-nav ul li {
  display: inline-block;
  margin: 0 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(114,113,114);
}


.product span {
  font-weight: bold;
}

.product-image img {
  display: block;
  max-width: 228px;
  width: 50%;
  margin: 0 auto;
  border-radius: 80px;
}

.
.row .product:last-child {
  margin-right: 0;
}

.product-add-to-cart {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}

.see-more {
  float: left;
  background: indianred;
}

.add-to-cart {
  float: right;
}

.shopping-cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  min-heigh: 300px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 20px;
  background: wheat;
}

.shopping-cart-head {
  background: steelblue;
  color: white;
  padding: 5px;
}

.shopping-cart,
.shopping-cart-head {
  border-radius: 5px;
}

.empty-cart-btn,
.cart-checkout {
  display: none;
  
}

.empty-cart-btn {
  margin-bottom: 5px;
}

.cart-checkout {
  background: limegreen;
}


.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 620px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  
  padding: 1.5rem;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: rgba(156, 163, 175, 1);
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
}

.lists .list {
  margin-bottom: 0.5rem;
  display: flex;
  margin-left: 0.5rem
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: rgba(167, 139, 250, 1);
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}


.tab-section {
    padding: 50px 0;
}

.tab-section .container {
    max-width: 800px;
    margin: 0 auto;
}

.tab-section .tab-menu {
    margin-bottom: 20px;
}

.tab-section .tab-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-section .tab-button:hover {
    background-color: #0056b3;
}

.tab-section .tab-pane {
    display: none;
}

.tab-section .tab-pane.active {
    display: block;
}

.buttonDownload {
 display: inline-block;
 position: relative;
 padding: 10px 25px;
 background-color: #4CC713;
 color: white;
 font-family: sans-serif;
 text-decoration: none;
 font-size: 0.9em;
 text-align: center;
 text-indent: 15px;
 border: none;
}

.buttonDownload:hover {
 background-color: #45a21a;
 color: white;
}

.buttonDownload:before, .buttonDownload:after {
 content: ' ';
 display: block;
 position: absolute;
 left: 15px;
 top: 52%;
}

.buttonDownload:before {
 width: 10px;
 height: 2px;
 border-style: solid;
 border-width: 0 2px 2px;
}

.buttonDownload:after {
 width: 0;
 height: 0;
 margin-left: 3px;
 margin-top: -7px;
 border-style: solid;
 border-width: 4px 4px 0 4px;
 border-color: transparent;
 border-top-color: inherit;
 animation: downloadArrow 1s linear infinite;
 animation-play-state: paused;
}

.buttonDownload:hover:before {
 border-color: #cdefbd;
}

.buttonDownload:hover:after {
 border-top-color: #cdefbd;
 animation-play-state: running;
}

footer {
    background-color: #0053B3;
    color: white;
    text-align: center;
    padding: 20px 0;
     margin-top: auto; /* Push the footer to the bottom */
}